<div>
    <stackPanel>
        <div style="background-color: #474747">
            <p>#474747</p>
        </div>
        <div style="background-color: #595959">
            <p>#595959</p>
        </div>
        <div style="background-color: #6B6B6B">
            <p>#6B6B6B</p>
        </div>
        <div style="background-color: #7D7D7D">
            <p>#7D7D7D</p>
        </div>
        <div style="background-color: #8F8F8F">
            <p>#8F8F8F</p>
        </div>
        <div style="background-color: #A1A1A1">
            <p>#A1A1A1</p>
        </div>
        <div style="background-color: #ABABAB">
            <p>#ABABAB</p>
        </div>
    </stackPanel>
    <stackPanel orientation="Horizontal">
        <div style="background-color: #474747">
            <p>#474747</p>
        </div>
        <div style="background-color: #595959">
            <p>#595959</p>
        </div>
        <div style="background-color: #6B6B6B">
            <p>#6B6B6B</p>
        </div>
        <div style="background-color: #7D7D7D">
            <p>#7D7D7D</p>
        </div>
        <div style="background-color: #8F8F8F">
            <p>#8F8F8F</p>
        </div>
        <div style="background-color: #A1A1A1">
            <p>#A1A1A1</p>
        </div>
        <div style="background-color: #ABABAB">
            <p>#ABABAB</p>
        </div>
    </stackPanel>
</div>
