<div>
    <uniformGrid style="margin-bottom: 10px">
        <div #gridItem style="background-color: #474747">First</div>
        <div #gridItem style="background-color: #545454">Second</div>
        <div #gridItem style="background-color: #616161">Third</div>
        <div #gridItem style="background-color: #6e6e6e">Fourth</div>
        <div #gridItem style="background-color: #7b7b7b">Fifth</div>
        <div #gridItem style="background-color: #888888">Sixth</div>
        <div #gridItem style="background-color: #959595">Seventh</div>
        <div #gridItem style="background-color: #a2a2a2">Eighth</div>
        <div #gridItem style="background-color: #afafaf">Ninth</div>
        <div #gridItem style="background-color: #ababab">Tenth</div>
    </uniformGrid>
    <uniformGrid [rows]="2" style="margin-bottom: 10px">
        <div #gridItem style="background-color: #474747">First</div>
        <div #gridItem style="background-color: #545454">Second</div>
        <div #gridItem style="background-color: #616161">Third</div>
        <div #gridItem style="background-color: #6e6e6e">Fourth</div>
        <div #gridItem style="background-color: #7b7b7b">Fifth</div>
        <div #gridItem style="background-color: #888888">Sixth</div>
        <div #gridItem style="background-color: #959595">Seventh</div>
        <div #gridItem style="background-color: #a2a2a2">Eighth</div>
        <div #gridItem style="background-color: #afafaf">Ninth</div>
        <div #gridItem style="background-color: #ababab">Tenth</div>
    </uniformGrid>

    <uniformGrid [columns]="2">
        <div #gridItem style="background-color: #474747">First</div>
        <div #gridItem style="background-color: #545454">Second</div>
        <div #gridItem style="background-color: #616161">Third</div>
        <div #gridItem style="background-color: #6e6e6e">Fourth</div>
        <div #gridItem style="background-color: #7b7b7b">Fifth</div>
        <div #gridItem style="background-color: #888888">Sixth</div>
        <div #gridItem style="background-color: #959595">Seventh</div>
        <div #gridItem style="background-color: #a2a2a2">Eighth</div>
        <div #gridItem style="background-color: #afafaf">Ninth</div>
        <div #gridItem style="background-color: #ababab">Tenth</div>
    </uniformGrid>
</div>
