<div>
    <stack-panel>
        <div style="background-color: #474747">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #595959">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #6B6B6B">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #7D7D7D">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #8F8F8F">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #A1A1A1">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #ABABAB">
            <p>fsfsdf</p>
        </div>
    </stack-panel>
    <stack-panel orientation="Horizontal">
        <div style="background-color: #474747">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #595959">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #6B6B6B">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #7D7D7D">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #8F8F8F">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #A1A1A1">
            <p>fsfsdf</p>
        </div>
        <div style="background-color: #ABABAB">
            <p>fsfsdf</p>
        </div>
    </stack-panel>
</div>
