<div>
    <wrap-panel style="height: 260px;">
        <div style="background-color: #474747">
            <p>#474747</p>
        </div>
        <div style="background-color: #4e4e4e">
            <p>#4e4e4e</p>
        </div>
        <div style="background-color: #555555">
            <p>#555555</p>
        </div>
        <div style="background-color: #5c5c5c">
            <p>#5c5c5c</p>
        </div>
        <div style="background-color: #636363">
            <p>#636363</p>
        </div>
        <div style="background-color: #6a6a6a">
            <p>#6a6a6a</p>
        </div>
        <div style="background-color: #717171">
            <p>#717171</p>
        </div>
        <div style="background-color: #787878">
            <p>#787878</p>
        </div>
        <div style="background-color: #7f7f7f">
            <p>#7f7f7f</p>
        </div>
        <div style="background-color: #868686">
            <p>#868686</p>
        </div>
        <div style="background-color: #8d8d8d">
            <p>#8d8d8d</p>
        </div>
        <div style="background-color: #949494">
            <p>#949494</p>
        </div>
        <div style="background-color: #9b9b9b">
            <p>#9b9b9b</p>
        </div>
        <div style="background-color: #a2a2a2">
            <p>#a2a2a2</p>
        </div>
        <div style="background-color: #a9a9a9">
            <p>#a9a9a9</p>
        </div>
        <div style="background-color: #b0b0b0">
            <p>#b0b0b0</p>
        </div>
        <div style="background-color: #b5b5b5">
            <p>#b5b5b5</p>
        </div>
    </wrap-panel>
    <wrap-panel orientation="Horizontal">
        <div style="background-color: #474747">
            <p>#474747</p>
        </div>
        <div style="background-color: #4e4e4e">
            <p>#4e4e4e</p>
        </div>
        <div style="background-color: #555555">
            <p>#555555</p>
        </div>
        <div style="background-color: #5c5c5c">
            <p>#5c5c5c</p>
        </div>
        <div style="background-color: #636363">
            <p>#636363</p>
        </div>
        <div style="background-color: #6a6a6a">
            <p>#6a6a6a</p>
        </div>
        <div style="background-color: #717171">
            <p>#717171</p>
        </div>
        <div style="background-color: #787878">
            <p>#787878</p>
        </div>
        <div style="background-color: #7f7f7f">
            <p>#7f7f7f</p>
        </div>
        <div style="background-color: #868686">
            <p>#868686</p>
        </div>
        <div style="background-color: #8d8d8d">
            <p>#8d8d8d</p>
        </div>
        <div style="background-color: #949494">
            <p>#949494</p>
        </div>
        <div style="background-color: #9b9b9b">
            <p>#9b9b9b</p>
        </div>
        <div style="background-color: #a2a2a2">
            <p>#a2a2a2</p>
        </div>
        <div style="background-color: #a9a9a9">
            <p>#a9a9a9</p>
        </div>
        <div style="background-color: #b0b0b0">
            <p>#b0b0b0</p>
        </div>
        <div style="background-color: #b5b5b5">
            <p>#b5b5b5</p>
        </div>
    </wrap-panel>
</div>
